
<div class="container">
    <div class="col-lg-12 ">
         <div class="col-lg-8 ">
         
         <h2>Welcome to SKILL Builder</h2>
         <p>Join our community that have more than 10000<br> subscribers and learn new things everyday </p>
      
     </div>
     <div class="col-lg-4">
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="addRegistration(f)" >
    
        <!-- <h4 style="color: blue ; text-align:left;margin-top:40px;margin-left: 20px">SIGN UP</h4> -->
      
        <div class="line2">
         <h1>SKILL Builder</h1>
        </div>
         <h4>Welcome Back!</h4>
         <hr>
   
       <!--E-mail-->
       <div class="control-group">
           <label class="control-label"  for="email">E-mail</label>
           <div class="controls">
             <input type="text"[(ngModel)]="registration.email" id="email" name="email" placeholder="Enter Registered Mail-Id" class="input-xlarge">
           </div>
         </div>
     
      <!-- Password -->
       <div class="control-group">
         <label class="control-label" for="password">Password</label>
         <div class="controls">
           <input type="password" [(ngModel)]="registration.password" id="password" name="password" placeholder="Enter your Password" class="input-xlarge">
          </div>
       </div>
   
       <!-- Button -->
       <div class="control-group">
         <div class="controls-group">
           <button class="btn btn-primary">Sign In</button>
           <hr class="hr-text" data-content="OR">
         </div>
         <div class ="social_button">
         <button class="btn btn-primary"style="margin-left: 20px;margin-right: 20px">f</button>
         <button class="btn btn-info" style="margin-left: 20px;margin-right: 20px">t</button>
         <button class="btn btn-danger"style="margin-left: 20px;margin-right: 20px">g+</button>
        </div>
     <span  style="text-align: center">Don't have an account ? 
     <a (click)="gotopage()">Sign Up Here</a>  </span>
       </div>
   </form>
  </div>
  
  </div>
  
  <router-outlet></router-outlet>
 